@{
    ViewBag.Title = "Using jqGrid’s search toolbar with multiple filters in ASP.NET MVC";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This sample is based on <a href="http://www.codeproject.com/Articles/58357/Using-jqGrid-s-search-toolbar-with-multiple-filter" title="ASP.NET MVC Website">Ilyas Builuk article on CodeProject</a> it was refactored to work with MVC4 and VisualStudio 2012.
            </p>
        </div>
    </section>
}


<h3>Grid, try search:</h3>
<table id="grid" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
